<footer class="bg-dark fixed-bottom text-center text-white">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <i class="fa fa-graduation-cap"></i> Result Managment System | © 2020
    Copyright:
    <a class="text-white" target="_blank" href="https://www.nagarro.com/en"
      >nagarro</a
    >
  </div>
</footer>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
  integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
