<footer class="bg-dark fixed-bottom text-center text-white">
  <div
    class="text-center p-2"
    style="background-color: rgb(34, 37, 40); color: rgb(174, 170, 170)"
  >
    Made with <i class="fa fa-heart-o"></i> by Rahul | 2023
  </div>
</footer>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.bundle.min.js"
  integrity="sha512-i9cEfJwUwViEPFKdC1enz4ZRGBj8YQo6QByFTF92YXHi7waCqyexvRD75S5NVTsSiTv7rKWqG9Y5eFxmRsOn0A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
